<% layout('layout/boilerplate.ejs') -%>

<div style="width: 50vw; margin: auto;">
    <form action="/products" method="post">
        <div class="mb-3">
          <label for="name" class="form-label">Product Name</label>
          <input type="text" class="form-control" id="name"  name="name">
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input type="number" class="form-control" id="price"  name="price">
        </div>
        <div class="mb-3">
            <label for="iamge" class="form-label">Image</label>
            <input type="text" class="form-control" id="image"  name="image">
        </div>
        <div class="mb-3">
            <label for="desc" class="form-label">Desc</label>
            <input type="text" class="form-control" id="desc"  name="desc">
          </div>
        
        
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>