<% layout('layout/boilerplate.ejs') -%>

<h1>Your Shopping Cart</h1>

<% if (cart && cart.items.length > 0) { %>
    <ul>
        <% cart.items.forEach(item => { %>
            <li>
                <h3><%= item.productId.name %></h3>
                <p>Quantity: <%= item.quantity %></p>
                <p>Price: $<%= item.productId.price %></p>
            </li>
        <% }) %>
    </ul>
    <h3>Total: $<%= cart.totalPrice %></h3>
<% } else { %>
    <p>Your cart is empty.</p>
<% } %>